
Saved/Logs/MAIN-backup-2017.06.04-13.02.51.log
Saved/Logs/MAIN.log
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Intermediate/CachedAssetRegistry.bin
Intermediate/AssetRegistryCache/c90e3f55.bin
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UE4CC-Windows-903E8A90401B60AC0562B8AF40CBE70D/CrashReportClient.ini
